<div class="input-container">
  <label class="form-label">{{ label }}</label
  ><br />
  <div class="text-area-container">
    <textarea
      class="form_input form_text_area"
      (input)="setValue($event)"
      rows="2"
      >{{ value }}</textarea
    >
    <hr class="hr" />

    <div class="buttons-container">
      <app-button [text]="companyName" />
      <app-button [text]="agentName" />
      <app-button [text]="firstName" />
      <app-button [text]="lastName" />
    </div>
  </div>
</div>
