<div class="input-container">
  <label class="form-label">{{ label }}</label
  ><br />
  <div class="text-area-container">
    <textarea
      class="form_input form_text_area"
      (input)="handleInput($event)"
      rows="2"
      >{{ value }}</textarea
    >
    <hr class="hr" />
    <div class="buttons-container">
      <app-button (buttonClick)="handleButtonClick($event)" [text]="companyName" />
      <app-button (buttonClick)="handleButtonClick($event)" [text]="agentName" />
      <app-button (buttonClick)="handleButtonClick($event)" [text]="firstName" />
      <app-button (buttonClick)="handleButtonClick($event)" [text]="lastName" />
    </div>
  </div>
</div>
