body {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .form-container {
    align-self: center;
    width: 80%;
  }

  .message-container {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    height: 768px;
    width: 1366px;
  }

  .form-container {
    width: 40%;
    margin-left: 220px;
  }

  .inner-form-container {
    margin-top: 150px;
  }
}
