@import url('app/styles/form.css');

.flex {
  display: flex;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}
