@media screen and (min-width: 768px) {
  .form {
    width: 393px;
  }
}

.title {
  font-size: 24px;
  color: #202020;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
  height: 48px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 14px;
}

.submit-button:disabled {
  opacity: 30%;
}
